<%= simple_form_for(@bill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :cost %>
    <%= f.association :payment_group %>
    <%= f.association :user %>
    <%= f.association :group %>
    <%= f.input :paid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
