<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :bill %>
    <%= f.input :method %>
    <%= f.input :paid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
